# - - - -                  --   --  WEB SCRAPING – ASSIGNMENT 4

## Q1. Scrape the details of most viewed videos on YouTube from Wikipedia.

**Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos**

**You need to find following details:**

**A) Rank**

**B) Name**

**C) Artist**

**D) Upload date**

**E) Views**

In [1]:
import pandas as pd
import selenium
import time
from bs4 import BeautifulSoup 
from tqdm import tqdm
from selenium import webdriver
from selenium.webdriver.common.by import By

from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.action_chains import ActionChains

In [2]:
from selenium.webdriver.support.ui import WebDriverWait
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Let first connect to the driver

driver=webdriver.Edge(r"msedgedriver.exe")

In [6]:
url=('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')
driver.get(url)

In [7]:
# Creating empty list for storing data after scraping

Rank = []
Name = []
Artist = []
Upload_date = []
Views = []

In [8]:
# Scraping Rank of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")

In [9]:
#scrapping rank
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("_")

In [10]:
#scrapping Artist
try:
    for i in driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[3]'):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("_")

In [11]:
#Scrapping upload Date
try:
    for i in driver.find_elements(By.XPATH,' //table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]'):
        Upload_date.append(i.text)
except NoSuchElementException:
    Upload_date.append('-')

In [12]:
# Scraping Views of videos

try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("_")

In [13]:
# Creating DataFrame from scraped data
YT_list = pd.DataFrame({})
YT_list['Rank']=Rank
YT_list['Name']=Name
YT_list['Artist']=Artist
YT_list['Upload Date']=Upload_date
YT_list['Views']=Views

In [14]:
YT_list

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.24
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.96
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.44
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.80
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.62
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.59
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.85
7,8.,"""Uptown Funk""[22]",Mark Ronson,"November 19, 2014",4.68
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,"February 27, 2018",4.61
9,10.,"""Gangnam Style""[24]",Psy,"July 15, 2012",4.53
10,11.,"""Masha and the Bear – Recipe for Disaster""[29]",Get Movies,"January 31, 2012",4.51
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.31
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",4.05
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.75
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.64
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.63
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.58
17,18.,"""Axel F""[36]",Crazy Frog,"June 16, 2009",3.49
18,18.,"""Thinking Out Loud""[37]",Ed Sheeran,"October 7, 2014",3.49
19,20.,"""Baa Baa Black Sheep""[38]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.35
20,21.,"""Dark Horse""[39]",Katy Perry,"February 20, 2014",3.34
21,22.,"""Faded""[40]",Alan Walker,"December 3, 2015",3.33
22,23.,"""Girls Like You""[41]",Maroon 5,"May 31, 2018",3.33
23,24.,"""Let Her Go""[42]",Passenger,"July 25, 2012",3.29
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.26
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.25
26,27.,"""Perfect""[45]",Ed Sheeran,"November 9, 2017",3.24
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,"June 4, 2010",3.23
28,29.,"""Shake It Off""[47]",Taylor Swift,"August 18, 2014",3.20
29,30.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.14

In [15]:
driver.close()

# ---------------------------------------------------------------------------------------

## Q2. Scrape the details team India’s international fixtures from bcci.tv.
**Url = https://www.bcci.tv/.**

**You need to find following details:**

**A) Match title (I.e. 1st ODI)**

**B) Series**

**C) Place**

**D) Date**

**E) Time**


**Note: - From bcci.tv home page you have reach to the international fixture page through code.**

In [16]:
# Let first connect to the driver

driver=webdriver.Edge(r"msedgedriver.exe")

In [17]:
url=('https://www.bcci.tv/')
driver.get(url)

In [18]:
#clickin on International tab
International = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a') # click button
International.click()

In [19]:
#Creating Empty List
Name=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [20]:
#Scrapping Name
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]'):
        Name.append(i.text.replace('-',""))
except NoSuchElementException:
    Name.append('-')

In [21]:
#Scrapping Series
try:
    
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding"]'):
        Series.append(i.text)
except NoSuchElementException:
    Series.append('-')

In [22]:
#scrapping Place
try:
    for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]'):
        Place.append(i.text)
except NoSuchElementException:
    Place.append('-')

In [23]:
#Scrapping Date
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]'):
        Date.append(i.text)
except NoSuchElementException:
    Date.append('-')

In [24]:
#Scrapping Time
try:
    for i in driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]'):
        Time.append(i.text.replace('IST',""))
except NoSuchElementException:
    Time.append('-')

In [25]:
# Create Dataframe

BCCI=pd.DataFrame({})
BCCI['Title']=Series
BCCI['Name']=Name
BCCI['Place']=Place
BCCI['Date']=Date
BCCI['Time']=Time
BCCI

,Title,Name,Place,Date,Time
0,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,2nd T20I,"County Ground,",13 SEP 2022,10:30 PM
1,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,3rd T20I,"County Ground,",15 SEP 2022,11:00 PM
2,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,1st ODI,"County Ground,",18 SEP 2022,3:30 PM
3,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,1st T20I,"Punjab Cricket Association IS Bindra Stadium,",20 SEP 2022,7:30 PM
4,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,2nd ODI,"St Lawrence Ground,",21 SEP 2022,5:30 PM
5,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,2nd T20I,"Vidarbha Cricket Association Stadium,",23 SEP 2022,7:30 PM
6,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,3rd ODI,"Lord's Cricket Ground,",24 SEP 2022,3:30 PM
7,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,3rd T20I,"Rajiv Gandhi International Stadium,",25 SEP 2022,7:30 PM

In [26]:
driver.close()

# --------------------------------------------------------------------------------------------------

## Q3. Scrape the details of selenium exception from guru99.com.
**Url = https://www.guru99.com/ You need to find following details:**

**A) Name**

**B) Description**

**Note: - From guru99 home page you have to reach to selenium exception handling page through code.**

In [68]:
# Let first connect to the driver

driver=webdriver.Edge(r"msedgedriver.exe")

In [69]:
driver.get("https://www.guru99.com/")
driver.maximize_window()

In [72]:
# Click Selenium Button
Selenium = driver.find_element(By.XPATH,'//div[@class = "wp-block-kadence-column inner-column-2 kadence-column_f38d98-3a"]') # click button
try:
    Selenium.click()
except ElementNotInteractableException:#handling element not clickable exception
    driver.get(Selenium.get_attribute('href'))
time.sleep(3)

In [73]:
# Click selenium exception handling  Button
exception_handling = driver.find_element(By.XPATH,"//a[@title='Selenium Exception Handling (Common Exceptions List)']")
try:
    exception_handling.click()
except ElementNotInteractableException:  #if the above code doesn't work/is not clickable then, the below code will handle it
    driver.get(exception_handling.get_attribute('href'))

In [74]:
name=[]
description=[]
#Scrapping Name
for i in driver.find_elements(By.XPATH,'//table[@class="table table-striped"]/tbody/tr/td[1]'):
    name.append(i.text)
for i in driver.find_elements(By.XPATH,'//table[@class="table table-striped"]/tbody/tr/td[2]'):
    description.append(i.text)

In [75]:
Selenium_Exception=pd.DataFrame()
Selenium_Exception['Exception name']=name
Selenium_Exception['Description']=description
Selenium_Exception

Empty DataFrame
Columns: [Exception name, Description]
Index: []

In [76]:
driver.close()

# ---------------------------------------------------------------------------------------

# Q4. Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/ You have to find following details:

A) Rank

B) State

C) GSDP(18-19)

D) GSDP(17-18)

E) Share(2017)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [77]:
# Let first connect to the driver

driver=webdriver.Edge(r"msedgedriver.exe")

In [92]:
driver.maximize_window()
driver.get('https://www.statisticstimes.com')
time.sleep(3)

In [94]:
#Click Economy
Economy=driver.find_element(By.XPATH,"//*[@id='top']/div[2]/div[2]/button")
Economy.click()

#Click India
India= driver.find_element(By.XPATH,"//*[@id='top']/div[2]/div[2]/div/a[3]")
India.click()

#Click on India GPD
GDP=driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
GDP.click()

In [100]:
#Creating empty list
Rank=[]
State=[]
GSDP_at_current_price_18_19=[]
GSDP_at_current_price_17_18=[]
Share_17=[]
GDP_billion=[]

In [97]:
#Scraping Rank
rank= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
for i in rank:
    if i.text is None:
        Rank.append('--')
    else:
        Rank.append(i.text)

In [99]:
#Scraping State
state= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
for i in state:
    if i.text is None:
        State.append('--')
    else:
        State.append(i.text)

In [102]:
#Scraping GSDP_at_current_price_18_19
gSDP_at_current_price_18_19= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
for i in gSDP_at_current_price_18_19:
    if i.text is None:
        GSDP_at_current_price_18_19.append('--')
    else:
        GSDP_at_current_price_18_19.append(i.text)

In [105]:
#Scraping GSDP_at_current_price_17_18
gSDP_at_current_price_17_18= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
for i in gSDP_at_current_price_17_18:
    if i.text is None:
        GSDP_at_current_price_17_18.append('--')
    else:
        GSDP_at_current_price_17_18.append(i.text)

In [106]:
#Scraping Share_17
share_17= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
for i in share_17:
    if i.text is None:
        Share_17.append('--')
    else:
        Share_17.append(i.text)

In [108]:
#Scraping GDP_billion
gDP_billion= driver.find_elements(By.XPATH,"//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
for i in gDP_billion:
    if i.text is None:
        GDP_billion.append('--')
    else:
        GDP_billion.append(i.text)

In [109]:
# creating dataframe
GDP_India=pd.DataFrame({})
GDP_India['Rank']=Rank
GDP_India['State']=State
GDP_India['GSDP_at_current_price_18_19']=GSDP_at_current_price_18_19
GDP_India['GSDP_at_current_price_17_18']=GSDP_at_current_price_17_18
GDP_India['Share_18_19']=Share_17
GDP_India['GDP_billion']=GDP_billion
GDP_India

,Rank,State,GSDP_at_current_price_18_19,GSDP_at_current_price_17_18,Share_18_19,GDP_billion
0,NaN,NaN,-,"2,632,792",13.94%,399.921
1,NaN,NaN,"1,845,853","1,630,208",8.63%,247.629
2,NaN,NaN,"1,687,818","1,584,764",8.39%,240.726
3,NaN,NaN,-,"1,502,899",7.96%,228.290
4,NaN,NaN,"1,631,977","1,493,127",7.91%,226.806
5,NaN,NaN,"1,253,832","1,089,898",5.77%,165.556
6,NaN,NaN,"1,020,989","942,586",4.99%,143.179
7,NaN,NaN,"972,782","862,957",4.57%,131.083
8,NaN,NaN,"969,604","861,031",4.56%,130.791
9,NaN,NaN,"906,672","809,592",4.29%,122.977
10,NaN,NaN,-,"781,653",4.14%,118.733
11,NaN,NaN,"856,112","774,870",4.10%,117.703
12,NaN,NaN,"831,610","734,163",3.89%,111.519
13,NaN,NaN,"611,804","530,363",2.81%,80.562
14,NaN,NaN,"574,760","526,376",2.79%,79.957
15,NaN,NaN,"521,275","487,805",2.58%,74.098
16,NaN,NaN,-,"315,881",1.67%,47.982
17,NaN,NaN,"329,180","304,063",1.61%,46.187
18,NaN,NaN,"328,598","297,204",1.57%,45.145
19,NaN,NaN,-,"245,895",1.30%,37.351
20,NaN,NaN,-,"155,956",0.83%,23.690
21,NaN,NaN,"165,472","153,845",0.81%,23.369
22,NaN,NaN,"80,449","73,170",0.39%,11.115
23,NaN,NaN,"55,984","49,845",0.26%,7.571
24,NaN,NaN,-,"42,114",0.22%,6.397
25,NaN,NaN,"38,253","34,433",0.18%,5.230
26,NaN,NaN,"36,572","33,481",0.18%,5.086
27,NaN,NaN,"32,496","28,723",0.15%,4.363
28,NaN,NaN,"31,790","27,870",0.15%,4.233
29,NaN,NaN,-,"27,283",0.14%,4.144
30,NaN,NaN,-,"24,603",0.13%,3.737
31,NaN,NaN,"26,503","22,287",0.12%,3.385
32,NaN,NaN,-,-,-,-

In [110]:
driver.close()

# ----------------------------------------------------------------------------------------------------

# 5. Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

In [111]:
# Let first connect to the driver

driver=webdriver.Edge(r"msedgedriver.exe")

In [29]:
driver.get('https://github.com/trending')

In [30]:
all_box_url = driver.find_elements(By.XPATH,'//article/h1/a')

In [31]:
all_urls = []
for one_url in all_box_url:
    all_urls.append(one_url.get_attribute('href'))

In [32]:
# Creating Empty list for Scraping Data
Title=[]
Description=[]
Count =[]
Language =[]

In [33]:
# Scraping repositories URL
URL= []
link=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]/a')
for i in link:
    URL.append(i.get_attribute('href'))

In [37]:
# Scraping Repositority Title
try:
    title=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]')
    for i in title:
        Title.append(i.text)
except NoSuchElementException:
    Title.append('NA')

In [38]:
len(Title)

25

In [40]:

for i in tqdm(URL):
    driver.get(i)
    time.sleep(5)
    # Scraping Description
    try:
        description=driver.find_element(By.XPATH,'/html/body/div[4]/div/main/div[2]/div/div/div[2]/div[2]/div/div[1]/div/p')
        Description.append(description.text)
    except NoSuchElementException:
        Description.append('NA')
    
    # Scraping Contributor count
    try:
        count=driver.find_element(By.XPATH,"//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        Count.append(count.text)
    except NoSuchElementException:
        Count.append('NA')
    
    # Scraping Language
    L =[]
    try:
        lang=driver.find_elements(By.XPATH,"//li[@class='d-inline']//a//span[1]")
        if lang:
            for j in lang:
                L.append(j.text)
        else:
            L.append('NA')
        Language.append(L)
    except NoSuchElementException:
        Language.append('NA')

100%|██████████████████████████████████████████████████████████████████████████████████| 25/25 [03:27<00:00,  8.31s/it]

In [41]:
Github=pd.DataFrame({'Title':Title,'Description':Description,
                'Contributors_count':Count,'Language_used':Language})
print('\033[1m'+'GitHub Trending Repository :'+'\033[0m')
Github

GitHub Trending Repository :

,Title,Description,Contributors_count,Language_used
0,danielgindi / Charts,NA,150,"[Swift, Objective-C]"
1,surrealdb / surrealdb,NA,11,[Rust]
2,TheAlgorithms / Python,NA,831,[Python]
3,SerenityOS / ladybird,NA,16,"[C++, CMake, Java]"
4,divamgupta / diffusionbee-stable-diffusion-ui,NA,NA,"[Jupyter Notebook, Python]"
5,karpathy / nn-zero-to-hero,NA,NA,[Jupyter Notebook]
6,EbookFoundation / free-programming-books,NA,"2,000",[NA]
7,twitter / compose-rules,NA,8,[Kotlin]
8,n8n-io / n8n,NA,301,"[TypeScript, Vue, SCSS, JavaScript, HTML, Dock..."
9,InterviewReady / system-design-resources,NA,5,[NA]
10,moby / moby,NA,"2,178","[Go, Shell, Dockerfile, PowerShell, Makefile, ..."
11,Alamofire / Alamofire,NA,240,[Swift]
12,AykutSarac / jsoncrack.com,NA,14,[TypeScript]
13,pocketbase / pocketbase,NA,14,"[Go, Svelte, SCSS, JavaScript, HTML, Shell]"
14,ascoders / weekly,NA,67,[JavaScript]
15,jellyfin / jellyfin,NA,758,[C#]
16,apptension / developer-handbook,NA,4,[NA]
17,vasanthk / how-web-works,NA,8,[NA]
18,rust-lang / rust,NA,"4,016","[Rust, JavaScript, HTML, Python, Makefile, Shell]"
19,dotnet / core,NA,302,"[PowerShell, Shell]"
20,microsoft / playwright,NA,294,"[TypeScript, HTML, C++, CSS, JavaScript, Objec..."
21,gothinkster / realworld,NA,73,[Shell]
22,SerenityOS / serenity,NA,751,"[C++, JavaScript, HTML, C, Shell, CMake]"
23,jwasham / coding-interview-university,NA,272,[NA]
24,joeyballentine / chaiNNer,NA,10,"[TypeScript, Python, JavaScript]"

# -----------------------------------------------------------------------------------

# -----------------------------------------------------------------------------------------------

# Q6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/ You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [126]:
# Getting the webpage of mentioned url 
driver.get('https://www.billboard.com/')

In [127]:
#Clicking on charts
charts=driver.find_element(By.XPATH,'//*[@id="main-wrapper"]/header/div[2]/div/nav/ul/li[1]/a').click()

In [128]:
# Creating empty lists
Song_Name = []
Artist_Name = []
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

In [129]:
# Scraping name
for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]'):
    Song_Name.append(i.text)
len(Song_Name)

100

In [130]:
#Scrappin Artist name 1 st one
Artist_Name.append(driver.find_element(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']").text)

In [131]:
#Remainig Artist Name
artistTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
Artist_Name.extend([i.text for i in artistTag])

In [132]:
#Scapping Rank
rank=[]
rankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
rank.extend([i.text for i in rankTag[:3]])

In [133]:
#Remaining RAnk
Rank=[]
RankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
Rank.extend([i.text for i in RankTag])

In [134]:
# removing ''
for i in Rank:
    if i=='':
        Rank.remove(i)

In [135]:
# slicing as per requirement
lastweekpos=Rank[0::3]
lastweekpos.insert(0,rank[0])
peakPos=Rank[1::3]
peakPos.insert(0,rank[1])
weeksonBoard=Rank[2::3]
weeksonBoard.insert(0,rank[2])

In [136]:
#check length of all
len(Song_Name),len(Artist_Name),len(lastweekpos),len(peakPos),len(weeksonBoard)

(100, 100, 133, 133, 133)

In [137]:
# Create Dataframe
df=pd.DataFrame()
df['SongName']=Song_Name[0:100]
df['ArtistName']=Artist_Name
df['Last Week']=lastweekpos[0:100]
df["PeekPosition"]=peakPos[0:100]
df['Weeks On board']=weeksonBoard[0:100]
df

,SongName,ArtistName,Last Week,PeekPosition,Weeks On board
0,As It Was\nHarry Styles\n1\n1\n22,Harry Styles,1,1,22
1,Bad Habit\nSteve Lacy\n3\n2\n9,Steve Lacy,3,2,9
2,About Damn Time\nLizzo\n2\n1\n20,Lizzo,2,1,20
3,Running Up That Hill (A Deal With God)\nKate B...,Kate Bush,4,3,34
4,Sunroof\nNicky Youre & dazy\n6\n5\n14,Nicky Youre & dazy,6,5,14
...,...,...,...,...,...
95,Thought You Should Know\nMorgan Wallen\n81\n12...,Morgan Wallen,66,65,11
96,2 Be Loved (Am I Ready)\nLizzo\n95\n84\n3,Lizzo,,,
97,Wait In The Truck\nHARDY Featuring Lainey Wils...,HARDY Featuring Lainey Wilson,68,18,17
98,La Corriente\nBad Bunny & Tony Dize\n87\n32\n14,Bad Bunny & Tony Dize,,,
99,"Bzrp Music Sessions, Vol. 52\nBizarrap & Queve...",Bizarrap & Quevedo,73,63,22

In [138]:
driver.close()

# ---------------------------------------------------------------------------------------------------

# 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/hr-recruiters-consultants You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [11]:
# Let first connect to the driver

driver=webdriver.Edge(r"msedgedriver.exe")

In [4]:
# Getting the webpage of mentioned url 
url = "https://www.naukri.com/"
driver.get(url)

In [5]:
#Fetching urls to navigate recruiter page
recruiter = driver.find_element(By.XPATH,'//a[@title="Search Jobs"]')
page_url = recruiter.get_attribute("href")

driver.get(page_url)
time.sleep(3)

In [6]:
# Fetching search button, sending keys and clicking on it
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input") 
search.send_keys("Data science ")           
btn = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]').click()     
time.sleep(3)

In [7]:
#Creating empty lists
Name = []
Designation = []
Company = []
Skills = []
Location = []

In [8]:
#Scraping data of Names
for i in driver.find_elements(By.XPATH,"//div[@class='job-description fs12 grey-text']"):
    Name.append(i.text)
time.sleep(3)

#Scraping data of Designation
for i in driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']"):
    Designation.append(i.text)
    
#Scraping data of company name
for i in driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']"):
    Company.append(i.text)

#Scraping data of locations
for i in driver.find_elements(By.XPATH,"//span[@class='ellipsis fleft']"):
    Location.append(i.text)
time.sleep(3)

#Scraping data of skills
for i in driver.find_elements(By.XPATH,"//ul[@class='tags has-description']"):
    Skills.append(i.text)

In [9]:
print(len(Name),len(Designation),len(Company),len(Location),len(Skills))

20 20 20 34 20

In [10]:
# Creating dataframe for scraped data
Naukri=pd.DataFrame({})
Naukri['Name'] = Name[0:20]
Naukri['Designation'] = Designation[0:20]
Naukri['Company'] = Company[0:20]
Naukri['Location'] = Location[0:20]
Naukri['Skills']=Skills[0:20]
Naukri

,Name,Designation,Company,Location,Skills
0,Shift: UK ShiftShould have good communication ...,HCL Hiring For Associate Manager role into Dat...,HCL Technologies,Data Science & Analytics,Power Bi\nTableau\nSSIS\nForecasting\nSQL\ncom...
1,Please find below JD and company details TECHN...,Hiring For AVP |Data Science and Business Anal...,Citicorp Finance,Engineering - Software & QA,R\nData Science\npython\nBusiness Analytics\nR...
2,Skill required: Data Science - Predictive Mode...,Senior Analyst-Data Science,Accenture,"Customer Success, Service & Operations",Publishing\nConsulting\nPredictive modeling\nD...
3,Ability to work under minimum supervision,"Analyst, Data Science & Analytics",TransUnion,Other,SQL\ncommunication\nIT Skills\nData Science\nD...
4,"Masters or PhD degree in computer science, app...",Senior Manager Data Science,Optum,WFH during Covid,Data Science\ndeep learning\nSQL\nNLP\nPython\...
5,"BTech, MTech or MCA degree from a reputed univ...",Analyst - Data Science - Python/Machine Learni...,Huquo Consulting Pvt. Ltd,Remote,Python\nData Science\nStatistical Modeling\nDa...
6,Minimum 1 2 years of experience as a software ...,Data Science/ ML freshers,CliqHR Recruitment Services,Bangalore/Bengaluru,Data Science\nCNN\nKeras\nLSTM\nPytorch\nPytho...
7,Atleast 3+ years of experience in the field of...,Looking For Marketing Analytics / Campaign Ana...,Evalueserve,Delhi / NCR,machine learning\nab tesing\nAttribution Model...
8,"We are looking for exceptional individuals, wh...",Looking For Group Manager-Data Science( Retail...,Evalueserve,Gurgaon/Gurugram,python\ndata science\niri\nCART/CHAID\ndata an...
9,Atleast 3+ years of experience in the field of...,Looking For Campaign Analytics (Data Science) ...,Evalueserve,0-3 Lakhs,Campaign Designing\nMedia Mix Modelling\nmachi...
10,Analytics Consultant/ Senior Manager- Data Sci...,Consultant/Senior Manager - Analytics/Data Sci...,Huquo Consulting Pvt. Ltd,3-6 Lakhs,Data Science\nAnalytics\nManagement consulting...
11,Skill required: Data Science - Machine Learnin...,Senior Analyst-Data Science,Accenture,6-10 Lakhs,Publishing\nArtificial Intelligence\nConsultin...
12,Skill required: Data Science - Predictive Mode...,Senior Analyst-Data Science,Accenture,10-15 Lakhs,Publishing\nConsulting\nPredictive modeling\nD...
13,Bachelors degree or higher in Computer Science...,Junior Software Engineer - Data Science,LogiNext,Foreign MNC,Java\nSaaS\nPython\ndata mining\nTableau\nC++\...
14,Experienced candidates (and freshers) from any...,Machine Learning/Technical Analyst/Data Science,Bartleby Technologies,Corporate,machine learning\nIT Skills\nData Science\nClo...
15,Roles and Responsibilities 1. Teaching in the ...,Data Science Trainer,STARAGILE CONSULTING,Indian MNC,trainer\nBusiness Intelligence tools\nData Ana...
16,Roles and Responsibilities Candidates with 8-1...,Assistant Manager/ Manager - Supply Chain Data...,Golden Opportunities,Startup,supply chain\nBPO\ninternational bpo\ndata ana...
17,A work environment that encourages collaborati...,"Senior Manager, Data Science And Analytics",TransUnion,Business Intelligence & Analytics,IT Skills\nJava\nPython\nData Science\nMachine...
18,Education: BE / BS/MS or equivalent in applied...,Data Science Manager,Rapido,Data Science & Machine Learning,Data Science\ndata analysis\nNoSql\nAgile\ndat...
19,At least 2-3 years of experience of leading ju...,ACN - Applied Intelligence - CC - Data Science...,Accenture,Data Science & Analytics - Other,Supply chain management\nConsulting\nApplicati...

# -----------------------------------------------------------------------------------------

# --------------------------------------------------------------------------------------

# Q8. Scrape the details of Highest selling novels.
URL = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare 

You have to find the following details:

A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [20]:
# get webpage
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [21]:
#Creating empty list
Bookname = []
Authorname = []
Volumessold = []
Publisher = []
Genre = []

In [22]:
#scraping book names data
for i in driver.find_elements(By.XPATH,"//tbody//tr/td[2]"):
    Bookname.append(i.text)
    
#Scraping author names data
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Authorname.append(i.text)
    except NoSuchElementException:
        Authorname.append('-')
time.sleep(1)

#Scraping data of volumes sold
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[4]"):
    Volumessold.append(i.text)
    
#Scraping data of publisher names
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[5]"):
    Publisher.append(i.text)
    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//tbody/tr/td[6]"):
    Genre.append(i.text)

In [23]:
#Creating dataframe for scraped data
Novels=pd.DataFrame({})
Novels['Book Name'] = Bookname
Novels['Author'] = Authorname
Novels['Volume sold'] = Volumessold
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre
Novels

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# ------------------------------------------------------------------------------------------------

# 9. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [27]:
# get webpage
driver.get("https://www.imdb.com/list/ls095964455/")

In [25]:
#Creating empty lists.
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

#Scraping data of Names
for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
    Name.append(i.text)
    
#Scraping data of Year span
for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)
    
#Scraping data of Run time
for i in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
    Run_time.append(i.text)
    
#Scraping data of Ratings
for i in driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)
    
#Scraping data of genre
for i in driver.find_elements(By.XPATH,"//span[@class='genre']"):
    Genre.append(i.text)
    
#Scraping data of votes
for i in driver.find_elements(By.XPATH,"//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [26]:
# Creating dataframe for scraped data
TVseries=pd.DataFrame({})
TVseries['Name'] = Name
TVseries['Year Span'] = Year_span
TVseries['Genre'] = Genre
TVseries['Run Time'] = Run_time
TVseries['Ratings'] = Ratings
TVseries['Votes'] = Votes
TVseries

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,048,909"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,144,963"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"968,153"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"288,795"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"248,375"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,552"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,557"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"194,764"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,021"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"236,388"

# ------------------------------------------------------------------------------------------------------

# 10. Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/ You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code.

In [12]:
# get webpage
driver.get(" https://archive.ics.uci.edu/")

In [13]:
# Finding view all dataset button from the webpage
viewall_dataset = driver.find_element(By.XPATH,"//tbody[1]//tr/td[2]/span[2]/a")    
page_url = viewall_dataset.get_attribute("href")
driver.get(page_url)

In [14]:
# Fetching page urls of all datasets 
view_list = driver.find_element(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a")  
list_url = view_list.get_attribute("href")           
driver.get(list_url)

In [15]:
# Fetching urls for each dataset
dataset_url = driver.find_elements(By.XPATH,"//p[@class='normal']//b/a")

In [16]:
urls = []     
for i in dataset_url:
    urls.append(i.get_attribute("href"))

In [17]:
#Creating empty lists
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attributes = []
Year = []

In [18]:
for i in urls[0:100]:
    driver.get(i)
    time.sleep(2)
    
    #Scraping Dataset name
    try: 
        dataset_name = driver.find_element(By.XPATH,"//span[@class='heading']")
        Dataset_name.append(dataset_name.text)
    except NoSuchElementException:
        Dataset_name.append('-')
    
    
    #Scraping data type
    try:
        data_type = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[2]")
        if data_type.text == "N/A": raise NoSuchElementException
        Data_type.append(data_type.text)
    except NoSuchElementException:
        Data_type.append('-')
    
    
    #scraping Task
    try:
        task = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[3]/td[2]")
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    
    # Scraping Attribute type
    try:
        attribute_type = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[2]")
        if attribute_type.text == "N/A": raise NoSuchElementException
        Attribute_type.append(attribute_type.text)
    except NoSuchElementException:
        Attribute_type.append('-')
    
    
    # Scraping No of instances
    try:
        instances = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr/td[4]")
        if instances.text == "N/A": raise NoSuchElementException
        No_of_instances.append(instances.text)
    except NoSuchElementException:
        No_of_instances.append('-')
    
    
    # Scraping No of attributes
    try:
        attribute = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[4]")
        if attribute.text == "N/A": raise NoSuchElementException
        No_of_attributes.append(attribute.text)
    except NoSuchElementException:
        No_of_attributes.append('-')
    
    
    # Scraping year
    try:
        year = driver.find_element(By.XPATH,"//table[@border='1']//tbody/tr[2]/td[6]")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')

In [19]:
# Creating dataframe 

aa=pd.DataFrame({})
aa['Data Name'] = Dataset_name[:622]
aa['Data Type'] = Data_type[:622]
aa['Task'] = Task[:622]
aa['Attribute type'] = Attribute_type[:622]
aa['No of instance'] = No_of_instances[:622]
aa['No of attributes'] = No_of_attributes[:622]
aa['Year'] = Year[:622]
aa

,Data Name,Data Type,Task,Attribute type,No of instance,No of attributes,Year
0,2.4 GHZ Indoor Channel Measurements Data Set,Multivariate,Classification,Real,7840,5,2018
1,"3D Road Network (North Jutland, Denmark) Data Set","Sequential, Text","Regression, Clustering",Real,434874,4,2013
2,3W dataset Data Set,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",1984,8,2019
3,9mers from cullpdb Data Set,Sequential,"Classification, Regression",Real,158716,4,2021
4,: Simulated Data set of Iraqi tourism places D...,Multivariate,"Classification, Clustering",-,232,16,2020
...,...,...,...,...,...,...,...
95,Cervical Cancer Behavior Risk Data Set,"Multivariate, Univariate","Classification, Clustering",Integer,72,19,2019
96,Challenger USA Space Shuttle O-Ring Data Set,Multivariate,Regression,Integer,23,4,1993
97,Character Font Images Data Set,Multivariate,Classification,"Integer, Real",745000,411,2016
98,Character Trajectories Data Set,Time-Series,"Classification, Clustering",Real,2858,3,2008
99,Chemical Composition of Ceramic Samples Data Set,Multivariate,"Classification, Clustering",Real,88,19,2019

# ----------------------------------------------------------------------------------------