In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By

import time

In [2]:
# Let first connect to the driver

driver=webdriver.Edge(r"msedgedriver.exe")

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

#### Answer 1

In [4]:
# opening naukri.com page on automated Edge browser

driver.get("https://www.naukri.com/")

In [4]:
#Entering designation, skill or companies(DSC) as required in the question
# the 1st line will only select the DSC box and will not write anything in that
DSC=driver.find_element(By.CLASS_NAME,"suggestor-input")


#By this we can enter into the DSC box -> by send keys ---> Data Analyst

DSC.send_keys("Data Analyst")


# this is done by Class method

In [5]:
#Entering location as Bangalore as required in the question
# the 1st line will only select the DSC box and will not write anything in that
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")

#By this we can enter into the location box -> by send keys

location.send_keys('Bangalore')

# this is done by XPATH method

In [6]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

# For clicking on click button we will do this

In [7]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [8]:
# scraping job title from the given page

title_tag=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tag[0:10]:
    title=i.text
    job_title.append(title)

     

# scraping job location from the given page

location_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tag[0:10]:
    location=i.text
    job_location.append(location)
    
    
# scraping company name from given page

company_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tag[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping job experience from given page

exp_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in exp_tag[0:10]:
    exp=i.text
    experience_required.append(exp)

In [9]:
print (len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [10]:
df=pd.DataFrame({'JOB_TITLE':job_title,'LOCATION':job_location,'COMPANY_NAME':company_name,'EXP_NEEDED':experience_required})
df

,JOB_TITLE,LOCATION,COMPANY_NAME,EXP_NEEDED
0,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),KrazyBee,3-6 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru,Qualitest India Private Limited,5-8 Yrs
2,Sr. Data Analyst,"Bangalore/Bengaluru, Pune",Global Indian School Education Services,6-11 Yrs
3,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
4,Senior Data Analyst,Bangalore/Bengaluru,Optum,5-7 Yrs
5,Intern Data Analyst,Bangalore/Bengaluru,FullStackTechies,0-1 Yrs
6,Data Analyst - Python/Artificial Intelligence,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",iMindYourBusiness,0-2 Yrs
7,Lead Data Analyst,Bangalore/Bengaluru,McAfee,5-9 Yrs
8,Data Analyst,"Bangalore/Bengaluru, Ahmedabad",milestone internet marketing pvt ltd,2-7 Yrs
9,Data Analyst,Bangalore/Bengaluru,Bayer,2-5 Yrs

# ---------------------------------------------------------------------------------------------------------------

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

#### Answer 2

In [11]:
driver.get("https://www.naukri.com/")

In [5]:
#Entering designation, skill or companies(DSC) as required in the question
# the 1st line will only select the DSC box and will not write anything in that
DSC=driver.find_element(By.CLASS_NAME,"suggestor-input")


#By this we can enter into the DSC box -> by send keys ---> as Data Scientist

DSC.send_keys("Data Scientist")

In [6]:
#Entering location as Bangalore as required in the question
# the 1st line will only select the DSC box and will not write anything in that
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")

#By this we can enter into the location box -> by send keys

location.send_keys('Bangalore')

In [7]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

# For clicking on click button we will do this

In [24]:
job_title=[]
job_location=[]
company_name=[]

In [12]:
# scraping job title from the given page

title_tag=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tag[0:10]:
    title=i.text
    job_title.append(title)

     

# scraping job location from the given page

location_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tag[0:10]:
    location=i.text
    job_location.append(location)
    
    
# scraping company name from given page

company_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tag[0:10]:
    company=i.text
    company_name.append(company)

In [13]:
print (len(job_title),len(job_location),len(company_name))

10 10 10

In [14]:
df=pd.DataFrame({'JOB_TITLE':job_title,'LOCATION':job_location,'COMPANY_NAME':company_name})
df

,JOB_TITLE,LOCATION,COMPANY_NAME
0,Senior Manager - EmTech - Machine Learning - P&T,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC
1,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Data scientist _Tata Consultancy Services(Tcs),"Bangalore/Bengaluru, Kochi/Cochin, Indore, New...",TATA CONSULTANCY SERVICES (TCS)
3,Job||Job Opening For AI Technologist - Data Sc...,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Wipro
4,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
5,Tcs Hiring For Data Scientist,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS)
6,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
7,Data Scientist Python,"Bangalore/Bengaluru, Hyderabad/Secunderabad",Conduent
8,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
9,Data Scientist,"Bangalore/Bengaluru, New Delhi, Pune, Gurgaon/...",ZS Associates

# --------------------------------------------------------------------------------------------------------

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

*You have to use the location and salary filter.*

You have to scrape data for “Data Scientist” designation for first 10 job results.

You have to scrape the job-title, job-location, company name, experience required. 

The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs*

The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [3]:
driver.get("https://www.naukri.com/")

In [5]:
DSC=driver.find_element(By.CLASS_NAME,"suggestor-input")
DSC.send_keys("Data Scientist")

In [6]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
# salary filter for range of 3-6 lakhs
sal_filt=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")



sal_filt.click()

In [9]:

# location filter for Delhi/NCR

loc_filt=driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[2]/label/p/span[1]")



loc_filt.click()

In [10]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [11]:
# scraping filtered job title from the given page

title_tag=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tag[0:10]:
    title=i.text
    job_title.append(title)

     

# scraping filtered job location from the given page

location_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tag[0:10]:
    location=i.text
    job_location.append(location)
    
    
# scraping filtered company name from given page

company_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tag[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping job experience from given page

exp_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in exp_tag[0:10]:
    exp=i.text
    experience_required.append(exp)

In [12]:
print (len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [13]:
df=pd.DataFrame({'JOB_TITLE':job_title,'LOCATION':job_location,'COMPANY_NAME':company_name,'EXPER_needed':experience_required})
df

,JOB_TITLE,LOCATION,COMPANY_NAME,EXPER_needed
0,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro,5-10 Yrs
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
2,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
3,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
4,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
5,Chat-bot Developer / Data Scientist,"Mumbai, New Delhi, Bangalore/Bengaluru\n(WFH d...",Big Seo Buzz,2-7 Yrs
6,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
7,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
8,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
9,Data Scientist,"Noida, Gurgaon/Gurugram, Jaipur",Celebal Technologies,1-5 Yrs

# --------------------------------------------------------------------------------------------------------------

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and 
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
required data as usual.

4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then 
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [3]:
driver.get("https://www.flipkart.com/")

In [4]:
#clicking_cross_button
crs_btn = driver.find_element(By.XPATH,"//button[@class='_2KpZ6l _2doB4z']")
crs_btn.click()

In [5]:
search_box=driver.find_element(By.CLASS_NAME,"_3704LK")
search_box.send_keys("sunglassses")

In [6]:
search_button=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_button.click()

In [7]:
brand=[]
price=[]
discount=[]
product_desc=[]

In [8]:
                        # PAGE 1

# scraping brand/product from the given page1

brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tag[0:40]:
    product=i.text
    brand.append(product)
    
# scraping price/cost from the given page1

price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tag[0:40]:
    cost=i.text
    price.append(cost)
    
    
# scraping discount from given page1

discount_tag=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discount_tag[0:40]:
    dis=i.text
    discount.append(dis)
    
# scraping desciption from page 1

desc_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in desc_tag[0:40]:
    des=i.text
    product_desc.append(des)

In [9]:
print (len(brand),len(price),len(discount),len(product_desc))

40 40 40 40

In [10]:
df=pd.DataFrame({'BRAND_NAME':brand,'COST':price,'DISCOUNT':discount,'DESCRIPTION':product_desc})
df

,BRAND_NAME,COST,DISCOUNT,DESCRIPTION
0,Fastrack,₹799,20% off,UV Protection Wayfarer Sunglasses (Free Size)
1,Fastrack,₹639,20% off,UV Protection Rectangular Sunglasses (Free Size)
2,PIRASO,₹224,85% off,UV Protection Aviator Sunglasses (54)
3,PIRASO,₹252,90% off,UV Protection Rectangular Sunglasses (52)
4,SRPM,₹200,84% off,UV Protection Wayfarer Sunglasses (50)
5,SUNBEE,₹283,78% off,"UV Protection, Polarized Wayfarer Sunglasses (..."
6,Elligator,₹298,88% off,UV Protection Round Sunglasses (54)
7,New Specs,₹207,79% off,UV Protection Oval Sunglasses (Free Size)
8,Fastrack,₹639,20% off,UV Protection Aviator Sunglasses (Free Size)
9,New Specs,₹264,89% off,UV Protection Rectangular Sunglasses (Free Size)
10,PIRASO,₹323,87% off,UV Protection Aviator Sunglasses (58)
11,PHENOMENAL,₹267,73% off,UV Protection Retro Square Sunglasses (53)
12,SHAAH COLLECTIONS,₹195,88% off,"UV Protection, Polarized, Mirrored Rectangular..."
13,ROZZETTA CRAFT,₹499,75% off,"Polarized, Riding Glasses Sports, Wrap-around ..."
14,NuVew,₹198,73% off,UV Protection Aviator Sunglasses (57)
15,LIZA ANGEL,₹199,80% off,"Riding Glasses, Night Vision Spectacle Sunglas..."
16,PIRASO,₹221,86% off,UV Protection Aviator Sunglasses (54)
17,ROZZETTA CRAFT,₹499,77% off,UV Protection Retro Square Sunglasses (Free Size)
18,Fastrack,"₹1,039",20% off,UV Protection Aviator Sunglasses (58)
19,Lee Topper,₹219,78% off,UV Protection Rectangular Sunglasses (Free Size)
20,PHENOMENAL,₹350,82% off,"UV Protection, Mirrored Retro Square Sunglasse..."
21,Dannilo,₹170,78% off,Others Spectacle Sunglasses (Free Size)
22,Mi,₹799,33% off,Polarized Aviator Sunglasses (Free Size)
23,Fastrack,₹710,21% off,UV Protection Wrap-around Sunglasses (63)
24,SUNBEE,₹259,80% off,"UV Protection, Polarized, Mirrored Retro Squar..."
25,Fastrack,₹719,20% off,UV Protection Shield Sunglasses (Free Size)
26,EYELLUSION,₹199,80% off,"Riding Glasses, Riding Glasses, UV Protection ..."
27,kingsunglasses,₹269,85% off,"UV Protection, Mirrored Aviator Sunglasses (Fr..."
28,Silver Kartz,₹288,80% off,UV Protection Wayfarer Sunglasses (Free Size)
29,VINCENT CHASE,₹749,62% off,"by Lenskart Polarized, UV Protection Rectangul..."
30,Rich Club,₹325,53% off,UV Protection Retro Square Sunglasses (54)
31,Fastrack,₹719,20% off,"Gradient, UV Protection Wayfarer Sunglasses (F..."
32,kingsunglasses,₹189,85% off,UV Protection Rectangular Sunglasses (55)
33,ROYAL SON,₹664,66% off,"UV Protection, Gradient Butterfly Sunglasses (62)"
34,IZAAN MART,₹290,85% off,UV Protection Rectangular Sunglasses (55)
35,Fastrack,₹759,15% off,UV Protection Wayfarer Sunglasses (Free Size)
36,ROZZETTA CRAFT,₹399,80% off,"UV Protection, Gradient Rectangular Sunglasses..."
37,PIRASO,₹203,87% off,UV Protection Wayfarer Sunglasses (32)
38,Rich Club,₹299,50% off,Gradient Wayfarer Sunglasses (52)
39,Lee Topper,₹299,88% off,Riding Glasses Wrap-around Sunglasses (Free Size)

In [11]:
                        # PAGE 2

# scraping brand/product from the given page2

brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tag[0:40]:
    product=i.text
    brand.append(product)
    
# scraping price/cost from the given page2

price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tag[0:40]:
    cost=i.text
    price.append(cost)
    
    
# scraping discount from given page2

discount_tag=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discount_tag[0:40]:
    dis=i.text
    discount.append(dis)
    
desc_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in desc_tag[0:40]:
    des=i.text
    product_desc.append(des)

In [12]:
print (len(brand),len(price),len(discount),len(product_desc))

80 80 80 80

In [13]:
df=pd.DataFrame({'BRAND_NAME':brand,'COST':price,'DISCOUNT':discount,'DESCRIPTION':product_desc})
df

,BRAND_NAME,COST,DISCOUNT,DESCRIPTION
0,Fastrack,₹799,20% off,UV Protection Wayfarer Sunglasses (Free Size)
1,Fastrack,₹639,20% off,UV Protection Rectangular Sunglasses (Free Size)
2,PIRASO,₹224,85% off,UV Protection Aviator Sunglasses (54)
3,PIRASO,₹252,90% off,UV Protection Rectangular Sunglasses (52)
4,SRPM,₹200,84% off,UV Protection Wayfarer Sunglasses (50)
...,...,...,...,...
75,Fastrack,₹759,15% off,UV Protection Wayfarer Sunglasses (Free Size)
76,ROZZETTA CRAFT,₹399,80% off,"UV Protection, Gradient Rectangular Sunglasses..."
77,PIRASO,₹203,87% off,UV Protection Wayfarer Sunglasses (32)
78,Rich Club,₹299,50% off,Gradient Wayfarer Sunglasses (52)
79,Lee Topper,₹299,88% off,Riding Glasses Wrap-around Sunglasses (Free Size)

In [14]:
                        # PAGE 3

# scraping brand/product from the given page3

brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tag[0:20]:
    product=i.text
    brand.append(product)
    
# scraping price/cost from the given page3

price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tag[0:20]:
    cost=i.text
    price.append(cost)
    
    
# scraping discount from given page3

discount_tag=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discount_tag[0:20]:
    dis=i.text
    discount.append(dis)
    
desc_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in desc_tag[0:20]:
    des=i.text
    product_desc.append(des)

In [15]:
print (len(brand),len(price),len(discount),len(product_desc))

100 100 100 100

In [16]:
df=pd.DataFrame({'BRAND_NAME':brand,'COST':price,'DISCOUNT':discount,'DESCRIPTION':product_desc})
df

,BRAND_NAME,COST,DISCOUNT,DESCRIPTION
0,Fastrack,₹799,20% off,UV Protection Wayfarer Sunglasses (Free Size)
1,Fastrack,₹639,20% off,UV Protection Rectangular Sunglasses (Free Size)
2,PIRASO,₹224,85% off,UV Protection Aviator Sunglasses (54)
3,PIRASO,₹252,90% off,UV Protection Rectangular Sunglasses (52)
4,SRPM,₹200,84% off,UV Protection Wayfarer Sunglasses (50)
...,...,...,...,...
95,LIZA ANGEL,₹199,80% off,"Riding Glasses, Night Vision Spectacle Sunglas..."
96,PIRASO,₹221,86% off,UV Protection Aviator Sunglasses (54)
97,ROZZETTA CRAFT,₹499,77% off,UV Protection Retro Square Sunglasses (Free Size)
98,Fastrack,"₹1,039",20% off,UV Protection Aviator Sunglasses (58)
99,Lee Topper,₹219,78% off,UV Protection Rectangular Sunglasses (Free Size)

# ----------------------------------------------------------------------------------------------------------

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.

This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field . 
3. Then click the search button

As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [12]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&q=iphone+11&store=tyy%2F4io&srno=s_1_2&otracker=search&otracker1=search&fm=organic&iid=79634d54-fe2f-4b48-8096-8c7d00ed789b.MOBFWQ6BXGJCEYNY.SEARCH&ppt=hp&ppn=homepage&ssid=4aqld4pxvk0000001660886113454&qH=f6cdfdaa9f3c23f3")

In [14]:
#clicking on all reviews
al_rev_btn = driver.find_element(By.XPATH,"//div[@class='_3UAT2v _16PBlm']")
al_rev_btn.click()

In [17]:
irating = []
short_sum = []
full_description = []


for page in range(0,11):
    
    #rating
    rat_tag = driver.find_elements(By.XPATH,"//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]")
    for i in rat_tag:
        irating.append(i.text)
        
    #review summary
    shrt_sum = driver.find_elements(By.XPATH,"//p[@class = '_2-N8zT']")
    for i in shrt_sum:
        short_sum.append(i.text)

    #full description
    full_descr = driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']/div/div")
    for i in full_descr:
        full_description.append(i.text)
        
        
    next_page=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")
    for i in next_page:
        if i.text == 'NEXT':
            driver.get(i.get_attribute('href'))

In [10]:
# scraping RATING from the given page

rating_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating_tag[0:10]:
    rating=i.text
    Rating.append(rating)
    
# scraping Review_summary from the given page

RS_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in RS_tag[0:10]:
    rev=i.text
    Review_summary.append(rev)
    
    
# scraping full review from given page

FR_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in FR_tag[0:10]:
    frev=i.text
    Full_review.append(frev)

In [18]:
# print(len(irating),len(short_sum),len(full_description))

sol_data = pd.DataFrame({
    'ratings':irating[0:100],
    'short_review':short_sum[0:100],
    'full_review': full_description[0:100]
})

sol_data

,ratings,short_review,full_review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Highly recommended,What a camera .....just awesome ..you can feel...
...,...,...,...
95,5,Best in the market!,Don’t expect much from front camera… especiall...
96,5,Super!,This is my first ever iPhone.\nAnd I truly don...
97,5,Mind-blowing purchase,Absolutely powerful gadget. Loved it’s look! S...
98,5,Mind-blowing purchase,"Flipkart honoured on time delivery, I have use..."
99,5,Simply awesome,Overall it’s good.

In [19]:
sol_data.to_csv('iphone_review.csv')

# ----------------------------------------------------------------------------------------------------------

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes

#### Answer

In [3]:
driver.get('https://www.flipkart.com/')

In [4]:
#searching sneakers
search_bar = driver.find_element(By.XPATH,"//input[@class='_3704LK']")
search_bar.send_keys('sneakers')

#clicking_search button
search_button = driver.find_element(By.XPATH,"//button[@class='L0Z3Pu']")
search_button.click()

In [5]:
shoe_brand=[]
shoe_description=[]
shoe_price=[]
shoe_discount=[]

#scrapping the required details
for page in range(0,4):      #for loop for scrapping 3 page
    brands=driver.find_elements(By.CLASS_NAME,'_2WkVRV')    #scraping brands name by class name='_2B_pmu'
    for i in brands:
        shoe_brand.append(i.text)    #appending the text in Brand list
    desc=driver.find_elements(By.CLASS_NAME,'IRpwTa')    #scraping description by class name = '_2mylT6'
    for i in desc:
        shoe_description.append(i.get_attribute('title'))   #appending the description in list
    prices=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")  # scraping the price from the xpath
    for i in prices[:40]:
        shoe_price.append(i.text)
    disc=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")# scraping the discount from the xpath
    for i in disc:
        shoe_discount.append(i.text)
        
    next_page=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")
    for i in next_page:
        if i.text == 'NEXT':
            driver.get(i.get_attribute('href'))

In [6]:
shoe_data = pd.DataFrame({})
shoe_data['BRAND'] = shoe_brand[0:100]
shoe_data['DESCRIPTION'] = shoe_description[0:100]
shoe_data['PRICE'] = shoe_price[0:100]
shoe_data['DISCOUNT'] = shoe_discount[0:100]

shoe_data

,BRAND,DESCRIPTION,PRICE,DISCOUNT
0,aadi,Mesh | Ultralightweight | Comfortable | Breath...,₹374,81% off
1,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹544,71% off
2,Labbin,Sneakers For Men,₹499,50% off
3,Deals4you,Sneakers For Women,₹373,62% off
4,Layasa,Sneakers For Men,₹399,60% off
...,...,...,...,...
95,Robbie jones,Casual Sneakers White Shoes For Girls And Wome...,₹549,45% off
96,Shozie,Sneakers For Women,₹399,60% off
97,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹399,69% off
98,AMICO,Designer Printed Casual Sneakers Shoes Sneaker...,₹424,57% off
99,Feet Runner,Stylish Casual Sneakers for Women Sneakers For...,₹659,56% off

# ----------------------------------------------------------------------------------------------------

# Q7: Go to the link - https://www.myntra.com/shoes

Set second Price filter and Color filter to “Black”, as shown in the below image.

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe 
description, price of the shoe as shown in the below image

In [3]:
driver.get('https://www.myntra.com/shoes')

In [6]:
#click on the price range of Rs. 6627 to Rs. 13085

price = driver.find_element(By.XPATH,"//ul[@class='price-list']/li[2]")
price.click()

In [5]:
#clicking on color filter and changing it to black
color = driver.find_element(By.XPATH,"//li[@class='colour-listItem']")
color.click()

In [7]:
brand_shoe = []
price_shoe = []
descr_shoe = []
s_desc_shoe = []


for page in range(0,2): 
    
    
    shoe_brnd = driver.find_elements(By.XPATH,"//div[@class='product-productMetaInfo']/h3")
    for i in shoe_brnd:
        brand_shoe.append(i.text)
            
    shoe_price = driver.find_elements(By.XPATH,"//div[@class='product-price']")
    for i in shoe_price:
        price_shoe.append(i.text)
        
    shrt_des = driver.find_elements(By.XPATH,"//div[@class='product-productMetaInfo']/h4")
    for i in shrt_des:
        s_desc_shoe.append(i.text)
        
    for j in range(0,len(s_desc_shoe),2):
        descr_shoe.append(s_desc_shoe[j])
        
    nxt_button=driver.find_element(By.XPATH,'//li[@class="pagination-next"]')
    #for scrapping the datas from next pages.
    if nxt_button.text=='next':
            nxt_button.click()
            time.sleep(3)

In [8]:
fil_data = pd.DataFrame({
    'NAME':brand_shoe[0:100],
    'PRICE':price_shoe[0:100],
    'DESCRIPTION':descr_shoe[0:100]
})

fil_data

,NAME,PRICE,DESCRIPTION
0,Nike,Rs. 7465Rs. 8295(10% OFF),Men ZOOM WINFLO8 Running Shoes
1,Skechers,Rs. 7199Rs. 8999(20% OFF),Men Max Cushioning Running
2,Nike,Rs. 11895Rs. 13995(15% OFF),Men React Infinity 3 Running
3,Nike,Rs. 10795,Men Colourblocked Sneakers
4,Skechers,Rs. 7199Rs. 8999(20% OFF),Men Max Cushioning Running
...,...,...,...
95,ADIDAS Originals,Rs. 11049Rs. 12999(15% OFF),Men Ozrah Leather Sneakers
96,ADIDAS,Rs. 10199Rs. 11999(15% OFF),Men Adizero Adios 7 Running
97,Puma,Rs. 9749Rs. 12999(25% OFF),Women Eternity NITRO Shoes
98,Puma,Rs. 7199Rs. 11999(40% OFF),Men KING Top Football Shoes
99,ADIDAS,Rs. 12999,Men Dropset Training Shoes

# ------------------------------------------------------------------------------------------------------

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [9]:
driver.get('https://www.amazon.in/')
#enter laptop
driver.find_element(By.XPATH,"//input[@id='twotabsearchtextbox']").send_keys('Laptop')
#enter search button
driver.find_element(By.ID,"nav-search-submit-text").click()

In [10]:
# select filter of CPU type to intel core i7

cpu_filt=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[11]/span/a/span")



cpu_filt.click()

In [11]:
Title=[]
Ratings=[]
Price=[]

In [12]:
# scraping filtered title from the given page

title_tag=driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-none puis-padding-right-small s-title-instructions-style"]')
for i in title_tag[0:10]:
    ti=i.text
    Title.append(ti)

     

# scraping filtered Rating from the given page

Rating_tag=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]')
for i in Rating_tag[0:10]:
    rat=i.text
    Ratings.append(rat)
    
    
# scraping filtered Price from given page

price_tag=driver.find_elements(By.XPATH,'//span[@class="a-price"]')
for i in price_tag[0:10]:
    price=i.text
    Price.append(price)

In [15]:
FIL_DATA = pd.DataFrame({
    'PRODUCT':Title[0:10],
    'PRICE':Price[0:10],
    'RATING':Ratings[0:10]
})

FIL_DATA

                                             PRODUCT      PRICE RATING
0  Samsung Galaxy Book2 Intel 12th Gen core i7 39...    ₹79,490     26
1  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...    ₹82,200     23
2  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...    ₹57,990     26
3  ASUS VivoBook K15 OLED (2021), 15.6-inch FHD O...    ₹82,990     11
4  Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-...    ₹94,990      3
5  ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...  ₹1,09,990     24
6  ASUS Zenbook 14 OLED (2022), 14" (35.56 cms) 2...  ₹1,04,990     16
7  Samsung Galaxy Book2 360 Intel 12th Gen i7 Evo...    ₹97,990     17
8  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...    ₹89,990     19
9  ASUS TUF Gaming F15 (2022), 15.6" (39.62 cms) ...  ₹1,09,990      6

# ----------------------------------------------------------------------------------------------------------------

# Q9 : Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida 
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. 
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data

In [28]:
driver.get(' https://www.ambitionbox.com/')

In [29]:
jobs=driver.find_element(By.XPATH,"/html/body/div[1]/nav[2]/div/ul/li[5]/a")
jobs.click()

In [30]:
designation=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
designation.send_keys('Data Scientist')

In [31]:
search=driver.find_element(By.XPATH,'//span[@class="ctas-btn-medium"]')
search.click()

In [32]:
location=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
location.click()

In [33]:
#click on Noida as a filter

fil_noida=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[5]/div/label')
fil_noida.click()

In [34]:
job_title=[]
company_name=[]
posted=[]
rating=[]

In [35]:
title_tag=driver.find_elements(By.XPATH,'//a[@class="title noclick"]')
for i in title_tag[0:10]:
    title=i.text
    job_title.append(title)
    


CN_tag=driver.find_elements(By.XPATH,'//div[@class="company-info"]')
for i in CN_tag[0:10]:
    cn=i.text
    company_name.append(cn)
    

    
pos_tag=driver.find_elements(By.XPATH,'//span[@class="body-small-l"]')
for i in pos_tag[0:10]:
    po=i.text
    posted.append(po)
    

rat_tag=driver.find_elements(By.XPATH,'//span[@class="body-small"]')
for i in rat_tag[0:10]:
    rat=i.text
    rating.append(rat)

In [36]:
print (len(job_title),len(company_name),len(posted),len(rating))

10 10 10 10

In [26]:
job_title

['Hiring Data Scientist #productbasecompany #CBRE',
 'Hiring For Genpact-Data Scientist- Forecasting-Immediate Joiners only',
 'Genpact - Data Scientist - Forecasting/Python/R (6-10 yrs)',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [37]:
df=pd.DataFrame({'JOB_TITLE':job_title,'COMPANY_NAME':company_name,'POSTED_DATE':posted,'RATING':rating})
df

,JOB_TITLE,COMPANY_NAME,POSTED_DATE,RATING
0,Hiring For Data Analyst / Data Scientist,PEPSICO GLOBAL BUSINESS SERVICES INDIA LLP\n ·...,2d ago,4.1
1,Hiring Data Scientist #productbasecompany #CBRE,PEPSICO GLOBAL BUSINESS SERVICES INDIA LLP\n4....,via naukri.com,4.3
2,Data Scientist Lead_Tata Consultancy Services(...,CBRE South Asia Pvt Ltd\n4.3\n(2.3k Reviews),8d ago,
3,,,via naukri.com,
4,,,,
5,,,,
6,,,,
7,,,,
8,,,,
9,,,,

# =-----------------=-------------------------=-----------------------=----------------------=--------

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. 
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and 
then click on “Data Scientist”.

You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average 
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe

In [38]:
driver.get(' https://www.ambitionbox.com/')

In [42]:
Select=driver.find_element(By.XPATH,"/html/body/div[1]/nav[2]/div/ul/li[3]/a")
Select.click()

In [43]:
bsalary=driver.find_element(By.XPATH,"/html/body/div[1]/nav[2]/div/ul/li[3]/div/ul/li[1]/div")
bsalary.click()

In [58]:
designation=driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
designation.send_keys('Data Scientist')

In [69]:
Experience_Required=[]
company_name=[]
Total_Salary=[]
Average=[]
Minimum=[]
Maximum=[]

In [78]:
experience_tags=driver.find_elements(By.CLASS_NAME,'sbold-list-header')
for i in experience_tags[0:10]:
    exp=i.text
    Experience_Required.append(exp)

In [79]:
len(Experience_Required)

10

In [80]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="company-info"]//a')
for i in company_tags[0:10]:
  company=i.text
  company_name.append(company)

In [81]:
len(company_name)

10

In [82]:
avg_tags=driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for i in avg_tags[0:10]:
  avg=i.text
  Average.append(avg)

In [83]:
len(Average)

10

In [84]:
TS_tags=driver.find_elements(By.XPATH,'//span[@class="datapoints"]')
for i in TS_tags[0:10]:
  TS=i.text
  Total_Salary.append(TS)

In [85]:
len(Total_Salary)

10

In [86]:
min_tags=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
for i in min_tags[0:10]:
  min=i.text
  Minimum.append(min)

In [87]:
len(Minimum)

10

In [88]:
max_tags=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
for i in max_tags[0:10]:
  max=i.text
  Maximum.append(max)

In [89]:
len(Maximum)

10

In [90]:
print(len(Experience_Required),len(company_name),len(Total_Salary),len(Minimum),len(Maximum))

10 10 10 10 10

In [91]:
df=pd.DataFrame({'Company Name':company_name,"Total Salary Record":Total_Salary,"Maximum Salary":Maximum, "Minimum Salary":Minimum})
df

,Company Name,Total Salary Record,Maximum Salary,Minimum Salary
0,Google\nSoftware Engineer Salary,(based on 51 salaries),₹ 11.7L,₹ 11.7L
1,Microsoft Corporation\nSoftware Engineer Salary,(based on 334 salaries),₹ 97.0L,₹ 97.0L
2,Goldman Sachs\nSoftware Engineer Salary,(based on 36 salaries),₹ 13.0L,₹ 13.0L
3,Amazon\nSoftware Engineer Salary,(based on 133 salaries),₹ 50.0L,₹ 50.0L
4,Servicenow Software Development India\nSoftwar...,(based on 71 salaries),₹ 12.0L,₹ 12.0L
5,Tekion\nSoftware Engineer Salary,(based on 41 salaries),₹ 34.0L,₹ 34.0L
6,Walmart\nSoftware Engineer Salary,(based on 105 salaries),₹ 8.7L,₹ 8.7L
7,PayPal\nSoftware Engineer Salary,(based on 29 salaries),₹ 45.0L,₹ 45.0L
8,Arista Networks\nSoftware Engineer Salary,(based on 56 salaries),₹ 14.0L,₹ 14.0L
9,Arcesium\nSoftware Engineer Salary,(based on 68 salaries),₹ 30.0L,₹ 30.0L

# -------------------------------------------------------------------------------------------------------------